<% content_for :title, "Not Found | Subjunct" %>
<% content_for :description, "Share your secrets." %>

<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <div class="container page">
        <h2>Oops!</h2>
        <p>That page doesn&rsquo;t exist.  Perhaps you were looking for the <a href="/">home page</a>?</p>
      </div>
    </div>
  </div>
</div>