<% content_for :title, "About | Subjunct" %>
<% content_for :description, "Share your secrets." %>

<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <div class="container page">
        <h2>How It Works</h2>
        <p><a href="/">Subjunct</a> lets you share secret messages.  You choose what the recipient needs to know to access the message—a password?  A  piece of trivia?  What they ate last night?  <em>Subjuncts</em> are secrets guarded by other secrets.</p>
        <p>Each message has a unique URL that you can use to share the message with friends.  Some messages will also be featured on the home page—protected by their security queston, of course.  Anyone can try to answer the question to see the message.</p>
        <p>Happy subjuncting!</p>
      </div>
    </div>
  </div>
</div>