<% content_for :title, "Subjunct" %>
<% content_for :description, "Share your secrets." %>

<script>
  posts = <%= @posts.to_json.html_safe -%>;
  more = <%= @more.to_json.html_safe -%>;
</script>

<div id="banner">
  <div class="container">
    <form class="compose-form" data-ng-controller="ComposeController" data-ng-submit="submit($event)" data-ng-init="show_errors=false">
      <div class="row compose-form-inputs">
        <div class="span5 offset1">
          <h2>Write a secret message</h2>
          <p><textarea name="message" class="message" placeholder="Secret message" required="required" data-ng-model="message"></textarea></p>
        </div>
        <div class="span5">
          <h2>Guarded by secret knowledge</h2>
          <p><textarea name="question" class="question" placeholder="Security question" required="required" data-ng-model="question"></textarea></p>
          <p><input type="text" name="answer" class="answer" placeholder="Answer" required="required" data-ng-model="answer" /></p>
        </div>
      </div>
      <div class="row compose-form-submit">
        <div class="span5 offset1 phone-hidden">
          <p class="error-message">
            <span data-ng-show="show_errors && error_message() != null">{{error_message()}}</span>
            <span data-ng-show="!show_errors || error_message() == null">&nbsp;</span>
          </p>
        </div>
        <div class="span5">
          <p class="right">
            <span class="counter">
              <span data-ng-class="{ 'error-count': bad_count(question, max_question) }">{{remaining(question, max_question)}}</span> /
              <span data-ng-class="{ 'error-count': bad_count(answer, max_answer) }">{{remaining(answer, max_answer)}}</span> /
              <span data-ng-class="{ 'error-count': bad_count(message, max_message) }">{{remaining(message, max_message)}}</span>
            </span>
            <span class="button" ng-class="{ disabled: submitted }" data-ng-mouseover="show_errors=true" data-ng-mouseout="show_errors=false" data-ng-click="submit($event)">Subjunct &nbsp;<i class="fa fa-angle-double-right"></i></span>
            <input type="submit" class="hidden" value="Subjunct" />
          </p>
        </div>
        <div class="span5 phone-visible">
          <p class="error-message right" data-ng-show="error_message() != null">
            {{error_message()}}
          </p>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container" id="cards" data-ng-controller="PostsController">
  <div class="row">
    <div class="span4 phone-hidden" data-ng-repeat="column in columns">
      <div class="card" data-ng-repeat="post in column" data-ng-click="expand(post, $event)" data-ng-class="{true: 'expanded', false: 'contracted'}[post.expanded] + ' ' + {true: 'answered', false: 'unanswered'}[post.answered]">
        <div class="card-question">{{post.question}}</div>
        <div class="card-row muted clearfix">
          <div class="card-date">
            <i class="fa fa-clock-o"></i> {{post.ago}}
          </div>
          <div class="card-options">
            <a data-ng-show="!post.expanded" href="#" data-ng-click="expand(post, $event); $event.stopPropagation(); $event.preventDefault();"><i class="fa fa-caret-down"></i></a>
            <a data-ng-show="post.expanded" href="#" data-ng-click="contract(post, $event); $event.stopPropagation(); $event.preventDefault();"><i class="fa fa-caret-up"></i></a>
            &nbsp;
            <a href="/{{post.id}}" data-ng-click="$event.stopPropagation()"><i class="fa fa-link"></i></a>
          </div>
        </div>
        <div class="card-extras" data-ng-show="post.expanded">
          <form class="answer-form" data-ng-show="!post.answered" data-ng-submit="submit($event, post)">
            <div class="card-row">
              <input type="text" name="answer" class="answer" placeholder="Answer" required="required" />
            </div>
            <input type="submit" class="hidden" value="Answer" />
          </form>
          <div data-ng-show="post.answered">
            <hr class="card-row" />
            <h3 class="card-row">Answer</h3>
            <div class="card-row"><p>{{post.answer}}</p></div>
            <hr class="card-row" />
            <h3 class="card-row">Message</h3>
            <div class="card-row" data-ng-bind-html-unsafe="post.message"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="span12 phone-visible">
      <div class="card" data-ng-repeat="post in posts" data-ng-click="expand(post, $event)" data-ng-class="{true: 'expanded', false: 'contracted'}[post.expanded] + ' ' + {true: 'answered', false: 'unanswered'}[post.answered]">
        <div class="card-row">{{post.question}}</div>
        <div class="card-row muted clearfix">
          <div class="card-date">
            <i class="fa fa-clock-o"></i> {{post.ago}}
          </div>
          <div class="card-options">
            <a data-ng-show="!post.expanded" href="#" data-ng-click="expand(post, $event); $event.stopPropagation(); $event.preventDefault();"><i class="fa fa-caret-down"></i></a>
            <a data-ng-show="post.expanded" href="#" data-ng-click="contract(post, $event); $event.stopPropagation(); $event.preventDefault();"><i class="fa fa-caret-up"></i></a>
            &nbsp;
            <a href="/{{post.id}}" data-ng-click="$event.stopPropagation()"><i class="fa fa-link"></i></a>
          </div>
        </div>
        <div class="card-extras" data-ng-show="post.expanded">
          <form class="answer-form" data-ng-show="!post.answered" data-ng-submit="submit($event, post)">
            <div class="card-row">
              <input type="text" name="answer" class="answer" placeholder="Answer" required="required" />
            </div>
            <input type="submit" class="hidden" value="Answer" />
          </form>
          <div data-ng-show="post.answered">
            <hr class="card-row" />
            <h3 class="card-row">Answer</h3>
            <div class="card-row"><p>{{post.answer}}</p></div>
            <hr class="card-row" />
            <h3 class="card-row">Message</h3>
            <div class="card-row" data-ng-bind-html-unsafe="post.message"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="spinner-container" data-ng-show="loading">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>
