<% content_for :title, @post.question + " | Subjunct" %>
<% content_for :description, "Share your secrets." %>

<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <div class="container page">
        <h2><%= @post.question -%></h2>
      </div>
    </div>
  </div>
</div>