<% content_for :title, @post[:question] + " | Subjunct" %>
<% content_for :description, "Share your secrets." %>

<script>
  post = <%= @post.to_json.html_safe -%>;
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=238324732992577";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<style>
  .fb-share-button {
    top: -6px;
  }
</style>

<div class="container" data-ng-controller="PostController" id="single-post">
  <div class="row">
    <div class="span8 offset2">
      <div class="container page post">
        <h2><%= @post[:question].html_safe -%></h2>
        <form class="answer-form" data-ng-show="!post.answered" data-ng-submit="submit($event, post)">
          <input type="text" name="answer" class="answer" placeholder="Answer" required="required" data-ng-model="post.attempted_answer" data-ng-disabled="post.form_submitted" />
          <span class="button" data-ng-class="{ disabled: post.form_submitted }" data-ng-click="button_submit($event)">Answer &nbsp;<i class="fa fa-angle-double-right"></i></span>
          <input type="submit" class="hidden" value="Answer" />
        </form>
        <div data-ng-show="post.attempted && !post.answered">
          <p class="wrong-answer">Sorry, wrong answer.</p>
        </div>
        <div data-ng-show="post.answered">
          <hr />
          <h3>Answer</h3>
          <p data-ng-bind-html="post.answer"></p>
          <hr />
          <h3>Message</h3>
          <div data-ng-bind-html="post.message"></div>
          <hr />
          <div class="p">
            <div class="fb-share-button" data-href="https://www.subjunct.com/+{{post.id}}" data-type="button"></div>

            <div class="g-plus" data-action="share" data-annotation="none" data-width="55" data-href="https://www.subjunct.com/+{{post.id}}"></div>

            <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.subjunct.com/+{{post.id}}" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>