/* Global Constants */

$anchor-color-hover: #ba2b18;

/* Helper styles and mixins */

.right {
  text-align: right;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

@mixin box-shadow($x, $y, $blur, $spread, $color, $inset) {
  @if $inset {
    -webkit-box-shadow: $x $y $blur $spread $color inset;
    -moz-box-shadow:    $x $y $blur $spread $color inset;
    -ms-box-shadow:     $x $y $blur $spread $color inset;
    -o-box-shadow:      $x $y $blur $spread $color inset;
    box-shadow:         $x $y $blur $spread $color inset;
  } @else {
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow:    $x $y $blur $spread $color;
    -ms-box-shadow:     $x $y $blur $spread $color;
    -o-box-shadow:      $x $y $blur $spread $color;
    box-shadow:         $x $y $blur $spread $color;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -ms-border-radius:     $radius;
  -o-border-radius:      $radius;
  border-radius:         $radius;
}

@mixin animate($properties, $duration) {
  -webkit-transition-property: $properties;
  -moz-transition-property:    $properties;
  -ms-transition-property:     $properties;
  -o-transition-property:      $properties;
  transition-property:         $properties;
  -webkit-transition-duration: $duration;
  -moz-transition-duration:    $duration;
  -ms-transition-duration:     $duration;
  -o-transition-duration:      $duration;
  transition-duration:         $duration;
}

/* Global Styles */

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #eee;
  color: #666;

  *:focus, *:active {
    outline: 0;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
  }

  a {
    color: inherit;
    text-decoration: inherit;
    font-weight: 600;
    @include animate(color, 0.2s);

    &:hover {
      color: $anchor-color-hover;
    }
  }

  p, form {
    margin: 16px 0;
  }

  .page {
    @include box-shadow(0px, 2px, 4px, 0px, #ddd, false);
    @include border-radius(2px);
    background-color: #fff;
    padding: 0 32px;
    border: 1px solid #e2e2e2;
    margin: 32px 0;
  }
}

textarea, input[type="text"] {
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 8px 12px;
  color: #999;
  @include animate("background-color, color, box-shadow", 0.5s);
  @include border-radius(2px);
  @include box-shadow(0px, 2px, 3px, 0px, #eee, true);

  $placeholder-color: #ccc;
  &::-webkit-input-placeholder {
    color: $placeholder-color;
  }
  &:-moz-placeholder {
    color: $placeholder-color;
  }
  &::-moz-placeholder {
    color: $placeholder-color;
  }
  &:-ms-input-placeholder {
    color: $placeholder-color;
  }

  &:focus {
    color: #666;
    background-color: #fff6cd;
    @include box-shadow(0px, 2px, 3px, 0px, #e7ddae, true);

    $placeholder-color: #bbb;
    &::-webkit-input-placeholder {
      color: $placeholder-color;
    }
    &:-moz-placeholder {
      color: $placeholder-color;
    }
    &::-moz-placeholder {
      color: $placeholder-color;
    }
    &:-ms-input-placeholder {
      color: $placeholder-color;
    }
  }
}

textarea {
  resize: none;
}

input[type="submit"] {
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;

  @include animate("background-color", 0.2s);
  @include border-radius(2px);
  border: none;
  background-color: #69a55b;
  padding: 8px 20px;
  color: #ececec;

  &:hover {
    background-color: #4b7541;
  }
}

input {
  height: 40px;
}

/* Home Page Styles */

#banner {
  background: #222 image-url("diagmonds.png") repeat;
  padding: 16px 0;
  color: #ccc;

  h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
    margin: 16px 0;
    text-align: center;
  }

  .compose-form {
    margin: 0;

    .question, .answer {
      width: 100%;
      height: 64px;
    }

    .message {
      width: 100%;
      height: 144px;
    }
  }

  textarea, input[type="text"] {
    @include box-shadow(0px, 2px, 3px, 0px, #292929, true);
    border: 1px solid #333;
    background-color: #333;
    color: #999;

    $placeholder-color: #555;
    &::-webkit-input-placeholder {
      color: $placeholder-color;
    }
    &:-moz-placeholder {
      color: $placeholder-color;
    }
    &::-moz-placeholder {
      color: $placeholder-color;
    }
    &:-ms-input-placeholder {
      color: $placeholder-color;
    }

    &:focus {
      color: #aaa;
      background-color: #444;
      @include box-shadow(0px, 2px, 3px, 0px, #333, true);

      $placeholder-color: #707070;
      &::-webkit-input-placeholder {
        color: $placeholder-color;
      }
      &:-moz-placeholder {
        color: $placeholder-color;
      }
      &::-moz-placeholder {
        color: $placeholder-color;
      }
      &:-ms-input-placeholder {
        color: $placeholder-color;
      }
    }
  }

  input[type="submit"] {
    background-color: #69a55b;
    color: #ececec;

    &:hover {
      background-color: #4b7541;
    }
  }
}

#cards {
  padding-top: 20px;
  padding-bottom: 12px;

  .card-container {
    width: 33.333%;

    @media (max-width: 767px) {
      width: 100%;
    }

    padding: 12px 12px;
    float: left;

    .card {
      @include box-shadow(0px, 2px, 4px, 0px, #ddd, false);
      @include border-radius(3px);
      @include animate("box-shadow", 0.2s);
      background-color: #fff;
      padding: 16px;
      border: 1px solid #e2e2e2;
      overflow: hidden;

      &.expanded {
        .answer-form {
          max-height: 64px;
        }
      }

      &.contracted {
        cursor: pointer;

        &:hover {
          @include box-shadow(0px, 5px, 10px, 0px, #ccc, false);
        }

        .answer-form {
          max-height: 0px;
        }
      }

      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }

      .card-question {
      }

      .card-date {
        margin-top: 8px;
        color: #ccc;
      }

      .answer-form {
        @include animate("max-height", 0.2s);
        overflow: hidden;

        .answer {
          display: block;
          width: 100%;
          float: left;
        }
      }
    }
  }
}

/* Layout Styles */

$footer-height: 64px;

html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;

  #header-vessel {
    background-color: #fff;

    #header {
      line-height: 70px;

      #title {
        float: left;

        @media (max-width: 767px) {
          text-align: center;
          line-height: 48px;
          float: none;
          padding-top: 12px;
        }

        font-weight: 600;
        margin: 0;
        color: #333;

        a {
          display: inline-block;
          font-weight: inherit;

          padding: 0 0 0 1.3em;
          background-position: left center;
          background-size: 1em 1.156em;
          background-repeat: no-repeat;
          background-origin: padding-box;
          background-image: image-url("logo.png");

          &:hover {
            color: $anchor-color-hover;
          }
        }
      }

      #nav-links {
        text-align: right;

        @media (max-width: 767px) {
          text-align: center;
          line-height: 48px;
        }

        a {
          font-weight: 400;
          font-size: 0.8em;
          text-transform: uppercase;
          display: inline-block;
          padding: 0 16px;
        }
      }
    }
  }

  #content-vessel {
    padding-bottom: $footer-height;
  }

  #footer-vessel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background: #222 image-url("diagmonds.png") repeat;
    overflow: hidden;

    #footer {
      text-align: center;
      color: #666;

      p {
        margin: 0;
        line-height: $footer-height;
      }
    }
  }
}
