@import 'constants';

.post {
  @media (max-width: 767px) {
    .answer-form {
      margin-bottom: 0;
    }

    .answer, .button {
      margin-bottom: $paragraph-margin;
    }
  }

  img {
    display: inline-block;
    max-width: 100%;
    margin: 0 auto;
  }
}